
/* ! FLEX STYLING */
.flex {
  display:flex;
  flex-direction: column;
  align-items: center;
  /* align items will currently position items left/right b/c our flex-direction is column */
  /* justify-content:center; */
}

#flex-container {
display: flex; /*flex-direction:row;*/
flex-wrap: wrap; 
/* defines if the children elements should wrap the viewport width */
justify-content: space-evenly;
}

#inside-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row 1 space-evenly;
  justify-content: center;
  align-items: baseline;
}

